body {
	background-image: url("img/backgroundImage.jpg");
	background-position: left;
	font-family: 'Righteous', sans-serif;
	letter-spacing: 1.3pt;
}

.container {
	background-color: #dbd7c0;
    max-width: 500px;
    margin: 0 auto;
    border: 5px black solid;
    border-spacing: 6px;
    border-radius: 10px;
    padding: 10px;
    opacity: 0.94;
}

h1 {
	text-align: center;
	font-size: 32px;
}

#distanceLabel {
	letter-spacing: 1.3pt;
    font-size: 18px;
    font-weight: 600;
	padding-bottom: 3px;
}

#distance {
	border-spacing: 2px;
	border-radius: 5px;
	width: 200px;
	padding: 10px 0;
	margin: 15px 0px;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
}

h2 {
	font-size: 22px;
	margin: 0 auto;
}

form {
    text-align: center;
    margin-top: 30px;
}


form p {
	display: none;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

input {
	font-size: 14px;
	width: 50%;
	border-spacing: 2px;
	border-radius: 5px;
	padding: 14px;
	margin: 15px auto;
}

.button {
    background-color: #26241b;
    color: #EDF5E1;
	padding: 15px 20px;
	margin: 16px 0;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	border-radius: 6px;
}

#reset {
	display: none;
	background-color: #26241b;
    color: #EDF5E1;
	padding: 15px 20px;
	margin: 16px 0;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	border-radius: 6px;
}